@font-face {
  font-family: "Pacifio";
  src: url("../fonts/pacifio.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo";
  src: url("../fonts/heebo.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito.ttf") format("truetype");
}
